<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title>Study Abroad Database</title>
</head>

<body>
<div class="container">
	<h1>Study Abroad Database</h1>

	<!-- forms -->
	<div class="container">
		<div class="row">
			<!-- Student form -->
			<div id="StudentForm" style="margin-top:50px"
				 class="mainbox col-md-4">
				 <h2>Student</h2>
				<div class="panel panel-info">
					<div class="panel-body">
						<form id="form" class="form-horizontal" role="form" action="/createStudent" method="post">
							<div class="form-group">
								<label for="Fname" class="col-md-3 control-label">First Name</label>
								<div class="col-md-9">
									<input type="text" id="Fname" class="form-control" name="Fname"
										   placeholder="Your first name">
								</div>
							</div>

							<div class="form-group">
								<label for="Lname" class="col-md-3 control-label">Last Name</label>
								<div class="col-md-9">
									<input type="text" id="Lname" class="form-control" name="Lname"
										   placeholder="Your last name">
								</div>
							</div>

							<div class="form-group">
								<label for="DOB" class="col-md-3 control-label">Date of Birth</label>
								<div class="col-md-9">
									<input type="date" id="DOB" class="form-control" name="DOB">
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-offset-1 col-md-12">
									<button id="btn-StudentsSubmit" type="submit" class="btn btn-info">
										<i class="icon-hand-right"></i>Add</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<button id="btn-showAllStudents" type="submit" class="btn btn-info"><i class="icon-hand-right">
				</i>Show Top 1000 Students</button>
			</div>
		</div>
	</div>

	<!-- results table -->
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr id="tablehead">

				</tr>
			</thead>
			<tbody id="resultsTable">
			</tbody>
		</table>
	</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/Students.js"></script>
</div>
</body>

</html>
